# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
create_backup.py
hkcm/__init__.pyc
hkcm/admin.pyc
hkcm/apps.pyc
hkcm/migrations/__init__.pyc
hkcm/models.pyc
hkcm/static/apps/
hkcm/static/global/
hkcm/static/layouts/global/
hkcm/static/layouts/layout/css/
hkcm/static/layouts/layout/img/ajax-loading.gif
hkcm/static/layouts/layout/img/ajax-modal-loading.gif
hkcm/static/layouts/layout/img/arrow-down.png
hkcm/static/layouts/layout/img/avatar.png
hkcm/static/layouts/layout/img/avatar1.jpg
hkcm/static/layouts/layout/img/avatar10.jpg
hkcm/static/layouts/layout/img/avatar11.jpg
hkcm/static/layouts/layout/img/avatar1_small.jpg
hkcm/static/layouts/layout/img/avatar2.jpg
hkcm/static/layouts/layout/img/avatar3.jpg
hkcm/static/layouts/layout/img/avatar3_small.jpg
hkcm/static/layouts/layout/img/avatar4.jpg
hkcm/static/layouts/layout/img/avatar5.jpg
hkcm/static/layouts/layout/img/avatar6.jpg
hkcm/static/layouts/layout/img/avatar7.jpg
hkcm/static/layouts/layout/img/avatar8.jpg
hkcm/static/layouts/layout/img/avatar9.jpg
hkcm/static/layouts/layout/img/hor-menu-red-arrow.png
hkcm/static/layouts/layout/img/icon-color-close.png
hkcm/static/layouts/layout/img/icon-color.png
hkcm/static/layouts/layout/img/icon-img-down.png
hkcm/static/layouts/layout/img/icon-img-up.png
hkcm/static/layouts/layout/img/inbox-nav-arrow-blue.png
hkcm/static/layouts/layout/img/loading-spinner-blue.gif
hkcm/static/layouts/layout/img/loading-spinner-default.gif
hkcm/static/layouts/layout/img/loading-spinner-grey.gif
hkcm/static/layouts/layout/img/loading.gif
hkcm/static/layouts/layout/img/logo-big-white.png
hkcm/static/layouts/layout/img/logo-big.png
hkcm/static/layouts/layout/img/logo-invert.png
hkcm/static/layouts/layout/img/logo.png
hkcm/static/layouts/layout/img/menu-toggler.png
hkcm/static/layouts/layout/img/photo1.jpg
hkcm/static/layouts/layout/img/photo2.jpg
hkcm/static/layouts/layout/img/photo3.jpg
hkcm/static/layouts/layout/img/remove-icon-small.png
hkcm/static/layouts/layout/img/search_icon_light.png
hkcm/static/layouts/layout/img/sidebar-menu-arrow-reverse.png
hkcm/static/layouts/layout/img/sidebar-menu-arrow-right.png
hkcm/static/layouts/layout/img/sidebar-menu-arrow.png
hkcm/static/layouts/layout/img/sidebar_arrow_icon_light.png
hkcm/static/layouts/layout/img/sidebar_arrow_icon_light_rtl.png
hkcm/static/layouts/layout/img/sidebar_inline_toggler_icon_blue.jpg
hkcm/static/layouts/layout/img/sidebar_inline_toggler_icon_darkblue.jpg
hkcm/static/layouts/layout/img/sidebar_inline_toggler_icon_default.jpg
hkcm/static/layouts/layout/img/sidebar_inline_toggler_icon_grey.jpg
hkcm/static/layouts/layout/img/sidebar_inline_toggler_icon_light.jpg
hkcm/static/layouts/layout/img/sidebar_inline_toggler_icon_light2.jpg
hkcm/static/layouts/layout/img/sidebar_toggler_icon_blue.png
hkcm/static/layouts/layout/img/sidebar_toggler_icon_darkblue.png
hkcm/static/layouts/layout/img/sidebar_toggler_icon_default.png
hkcm/static/layouts/layout/img/sidebar_toggler_icon_grey.png
hkcm/static/layouts/layout/img/sidebar_toggler_icon_light.png
hkcm/static/layouts/layout/img/sidebar_toggler_icon_light2.png
hkcm/static/layouts/layout/scripts/
hkcm/static/layouts/layout2/
hkcm/static/layouts/layout3/
hkcm/static/layouts/layout4/
hkcm/static/layouts/layout5/
hkcm/static/layouts/layout6/
hkcm/static/layouts/layout7/
hkcm/static/pages/
hkcm/urls.pyc
hkcm/views.pyc
proj_hkcm/__init__.pyc
proj_hkcm/urls.pyc
proj_hkcm/wsgi.pyc
txt_csv_files/pointInPolygon_output_20170228.csv
